<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>git.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4E80DB441CE87A3600EE70D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E80DB5D1CE87A3700EE70D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4E80DB681CE87A3700EE70D7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
